<div class="gallery frame">
  <div class="button" id="left">&lt;</div>
  <div class="button" id="right">&gt;</div>
  {% for image in galleryImages %}
  <div class="page-count">{{loop.index}}/{{loop.length}}</div>
    <div class="gallery-item">
        <img src="{{ nesting }}images/{{ image.fileName }}" alt="{{ image.altText }}" />
        <div class="image-caption">{{ image.caption }}</div>
    </div>
  {% endfor %}
</div>