<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kelly's Cool Stuff | {{ title }}</title>
    <script src="{{ nesting }}main.js"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ nesting }}favicon.ico" rel="icon" type="image/x-icon" />
    <link href="{{ nesting }}main.css{{ nocache }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    {% if showHeader %}
      <header> <a href="{{ nesting }}"> &lt; back </a> </header>
    {% endif %}
    {% if showCircle %}
      {% include "elements/circle.njk" %}
    {% endif %}
      {% if isMain %}
        <div id="main"> 
      {% else %}
        <div id="content">
      {% endif %}
            <h1> {{ title | lower }}</h1>  
        {% if showLinks %}
          {% include "elements/links.njk" %}
        {% endif %}
        {{ content | safe }}
      </div>
    <footer>hosted by neocities</footer>
  </body>
</html>