<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kelly's Cool Stuff | {{ title }}</title>
    <script src="{{ nesting }}main.js"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ nesting }}favicon.ico" rel="icon" type="image/x-icon" />
    <link href="{{ nesting }}main.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    {% if showBack %}
      <div class="back"> 
        <a href="{{ nesting }}"> &lt; home</a> 
        {%if parentLink %}
          <span class="parent-link"><a href="{{ nesting }}{{ parentLink.url }}"> &lt; {{ parentLink.title }} </a></span>
        {% endif %}
      </div>
    {% endif %}
    {% if showCircle %}
      {% include "elements/circle.njk" %}
    {% endif %}
      {% if isMain %}
        <div id="main"> 
      {% else %}
        <div id="content">
      {% endif %}
      <div class="content-head">
            <h1> {{ title | lower }}</h1>  
        {% if links %}
          {% include "elements/links.njk" %}
        {% endif %}
        </div>
        <div class="content-body">
          {% if galleryImages %}
            {% include "elements/gallery.njk" %}
          {% endif %}
          <div 
          {% if galleryImages and galleryWidth %}
            style="width: auto; overflow: hidden;"
          {% endif %}> 
            {{ content | safe }}
          </div>
        </div>
      </div>
    <footer>hosted by neocities</footer>
  </body>
</html>