#main {
  h1 {
    font-size: 5rem;
  }
  width: 70%;
  margin-top: 4rem;
}

#site-tree {
  display: flex;
  height: 400px;
}

#title {
  margin: .5rem 0;
}

#line-container {
  width: 400px;
  height: 100%;
}

#welcome {
  height:150px;
  width:150px;
  position:absolute;
  left: 33%;
  top: 15%;
  display: grid;
  place-items: center;
  text-align: center;
}

#pic {
  height:150px;
  width:150px;
  position:absolute;
  left: 60%;
  top: 40%;
  display: grid;
  place-items: center;
  text-align: center;
}

#welcome > * {
  grid-column-start: 1; /* Place all children in the first column */
  grid-row-start: 1;    /* Place all children in the first row */
}

.circle {
  z-index: 10;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#links {
  height: 100%;
}

line {
  vector-effect: non-scaling-stroke; 
}