.text-content {
    max-height: 60vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    padding: 0 1rem;
    font-size: .8rem;
}

table.text-content {
    th, td {
        border-bottom: 1px solid #ddd;
    }
    border-collapse: collapse;
    width: 100%;

    th:nth-child(1),td:nth-child(1) {
        min-width:5rem;
    }
}

.frame {
    width: 600px!important;
    height: 75vh!important;
    margin: 0 1rem 0 0;
    border-radius: 1%!important;
    border: dotted!important;
    border-width: 2.5px!important;
    padding: 0 .2rem!important;
    float:left!important;
}

.gallery {
    margin: 0 auto;
    display:grid;
    .gallery-item > img{
        max-width: 100%;
        height: auto;
        margin-bottom: .5rem;
    }
    .button #right {
        margin-left: .5rem;
    }
}