.text-content {
    max-height: 60vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    padding: 0 1rem;
    font-size: .8rem;
}

table.text-content {
    th, td {
        border-bottom: 1px solid #ddd;
    }
    border-collapse: collapse;
    width: 100%;

    th:nth-child(1),td:nth-child(1) {
        min-width:5rem;
    }
}

.frame {
    height: 75vh;
    margin: 0 1rem 0 0;
    border-radius: 1%;
    border: dotted;
    border-width: 2.5px;
    float:left;
}

.frame.tumblr-embed {
    width: 600px;
}

.frame.gallery {
    width: 1000px;
    overflow: hidden;
    .gallery-buttons-container {
        width: 100%;
        height: 2rem;
        display: flex;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        color:darkslategray;
        justify-content: space-between;
        padding: .2rem .5rem 0 .5rem;
        .gallery-button {
            font-weight: bolder;
        }
        #gallery-count {
            font-size: .7rem;
            padding: .2rem;
        }
    }

    #gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        .gallery-item {
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            padding: .5vh 0;
            flex-shrink: 0;
            img{
                max-width: 600px;
                max-height: calc(75vh - 2.5rem); 
                margin-bottom: .5rem;
                grid-column: 1;
                grid-row: 1;
            } 
            .image-caption {
                transition: opacity 1s ease-out;
                opacity: .28;
                font-size: .8rem;
                color:aliceblue;
                background-color: darkslategray;
                text-shadow: 2px 2px 1px #000000;
                margin: 100% 0 0 0;
                padding: .8rem;
                grid-column: 1;
                grid-row: 1;
            }
        }
        .gallery-item:hover .image-caption {
            opacity: .8;
        }
    }
}