/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  color: black;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: aliceblue;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem;
  height: 98vh; 
}
#site-tree {
  display: flex;
}
.project {
  a:link {
    text-decoration-style: dashed;
    color:darkslategray;
  }
  a:hover {
    text-decoration-style: wavy;
    color: palevioletred;
  }
}

#main {
  h1 {
    font-size: 5rem;
  }
  width: 70%;
  
}

#title {
  margin: .5rem 0;
}

#line-container {
  width: 400px;
  height: 200px;
}

line {
  /* Ensures the line thickness stays at 1px regardless of container size */
  vector-effect: non-scaling-stroke; 
}