#main {
  h1 {
    font-size: 5rem;
  }
  width: 70%;
  margin-top: 4rem;
}

#site-tree {
  display: flex;
  height: 400px;
}

#title {
  margin: .5rem 0;
}

#line-container {
  width: 400px;
  height: 200px;
}

#welcome {
  height:150px;
  width:150px;
  position:absolute;
  left: 60%;
  top: 30%;
  display: grid;
  place-items: center;
  text-align: center;
}

#welcome > * {
  grid-column-start: 1; /* Place all children in the first column */
  grid-row-start: 1;    /* Place all children in the first row */
}

#welcome > svg {
  z-index: 10;
}

#links {
  height: 200px;
  margin: 158px 0 0 0; // TODO: fix this magic number
}

line {
  vector-effect: non-scaling-stroke; 
}